@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #000000;
    --background: #FFFCF8;
    --primary: #D08726;
    --secondary: #478F96;
    --accent: #CA6B6E;
    --interaction: #282828;
  }
  .dark {
    --text: #ffffff;
    --background: #282828;
    --primary: #D08726;
    --secondary: #478F96;
    --accent: #CA6B6E;
    --interaction: #FFFCF8;
  }
}
